.container {
box-sizing: border-box;
width: 100%;
text-align: center;

}
.title {
  background: orange;
  border: solid black;
}

.navbar {
  background: orange;
  border: solid black;
  border-radius: 3px solid black;
}
.nav-list li{
display: inline-block;
position: relative;
margin: 0 auto;
padding-right: 20px;
}

.question-list li{
  list-style-type: none;
}

.hidden img{
  visibility: hidden;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 30px;
}

.score {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 30px;
}

.question-box {
  width: 400px;
  height: 300px;
  border: 5px solid black;
  border-radius: 30px;
  margin-top: 0px;
  display: inline-block;
  color:
}

.start-quiz {
  list-style-type: none;
  padding-left: 0;
  padding-top: 200px;
  display: inline;
}

.start-button {
}
.question-list {
  text-align: left;
  padding-top: 10px;
}

.question-list .submit-answer {
  margin-top: 20px;
  display: block;
}

.github {
  text-align: center;
}

.fa-github {
  margin-top: 20px;
  display: block;
}
